

 <div class="container">
        <h2>Invoice</h2>
        <h3><%= bookingDate %></h6>
        <h3><%= guestCount %></h6>
        <h3><%= transactionId %></h6>
        <h3><%= tourTitle %></h6>
        <h3><%= totalAmount %></h6>
        <h3><%= userName %></h6>
        <p>Thank you for booking</p>
</div>